<div class="price-dashboard">
  <table>
    <thead>
      <tr>
        <th>Actif</th>
        <th>Prix</th>
        <th>Variation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows"
          [class.flash-up]="row.flash === 'up'"
          [class.flash-down]="row.flash === 'down'">
        <td>{{ row.symbol }}</td>
        <td>{{ row.price | number:'1.2-4' }}</td>
        <td [class.text-up]="row.variation > 0" [class.text-down]="row.variation < 0">
          {{ row.variation > 0 ? '+' : '' }}{{ row.variation }}%
        </td>
      </tr>
    </tbody>
  </table>
</div>