<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/home"><h1>Hello<span>Friends</span></h1></a>
  </div>

  <div class="navbar-links" [class.active]="menuOpen">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link">Accueil</a></li>
      <li><a routerLink="/About" routerLinkActive="active-link">A propos</a></li>
      <li><a routerLink="/settings" routerLinkActive="active-link">Paramètres</a></li>
      @if (authService.isLoggedIn$ | async) {
        <li><a (click)="logout()">Se Déconnecter</a></li>
      } @else {
        <li><a (click)="login()">Se Connecter</a></li>
      }
    </ul>
  </div>

  <!-- Bouton burger pour mobile -->
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
