.register-container {
  max-width: 30%;
  margin: 4rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 1.5rem; // coins bien arrondis
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;

  @media (max-width: 420px) {
    margin: 2rem 1rem;
    padding: 1.5rem;
  }
}
